description "redis server"

start on (local-filesystems and net-device-up IFACE=eth0)
stop on shutdown


setuid <%= node["redis"]["user"] %>
setgid <%= node["redis"]["user"] %>
expect fork

# exec sudo -u <%= node["redis"]["user"] %> /usr/bin/redis-server <%= node["redis"]["conf_dir"] %>/redis.conf
exec <%= node["redis"]["bin_dir"] %>/redis-server <%= node["redis"]["conf_dir"] %>/redis.conf

respawn
